{% extends 'base.html.twig' %}

{% block body %}
    <section class="section container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Termes et conditions d'utilisation</h1>
                <h2>1. ACCEPTATION</h2>
                <p>
                    La société SAS BDG et sa marque ( « DrManga ») proposent des mangas pour adultes sur le site drmanga.com.
                    Par le téléchargement, l'achat de mangas ou la simple visite de notre site Web, vous acceptez les présentes conditions d'utilisation et la politique de confidentialité drmanga.com/conditions-utilisation. Si vous n'êtes pas d'accord d'être lié par les Conditions d'utilisation contenues dans ce document, merci de quitter le site Web.
                    Les conditions d'utilisation du présent Accord sont susceptibles d'être modifiées par le site à tout moment à sa seule discrétion et vous reconnaissez qu'en utilisant les Mangas et le site Web, vous acceptez d'être lié à toutes les modifications, changements et/ou révisions qui sont affichées sur notre site Web au moment où vous y accédez. Si vous n’acceptez pas d'être lié par toutes les modifications, changements et/ou révisions du présent Accord n’utilisez pas le site.
                    Les conditions d'utilisation contenues ici s’appliquent à tous les utilisateurs du site Web étant un « visiteur » ou « membre » et vous n’êtes autorisé à utiliser le site Web seulement si vous acceptez de respecter toutes les lois applicables et être légalement lié par les conditions d'utilisation du présent Accord.
                    Lorsque vous utilisez le site Web, vous serez soumis à toutes les règles affichées, des directives communautaires ou politiques. De telles règles, directives et politiques sont incorporées par référence au présent Accord.
                </p>
                <h3>1.1 Capacité d'accepter les conditions d'utilisation</h3>
                <p>Vous affirmez que vous êtes âgé d’au moins 18 ans ou l'âge de la majorité dans la juridiction depuis laquelle vous accédez au site Web, et êtes pleinement capable de lire et comprendre les termes, conditions, obligations, affirmations et déclarations énoncées dans ces conditions d'utilisation, et de respecter et de se conformer aux présentes conditions d'utilisation. Si vous avez moins de 18 ans, vous n'êtes pas autorisé à utiliser le site Web drmanga.com. Vous déclarez que la juridiction depuis laquelle vous accédez au site Web n'interdit pas la réception ou l'affichage du contenu sexuellement explicite.
                </p>
                <h2>2. DESCRIPTION DES SERVICES</h2>
                <p>
                    Le site permet l'utilisation, l'achat ou le téléchargement de ses mangas et dans certains cas, permet le transfère, le partage et la visualisation générale des différents types de contenu permettant aux visiteurs et aux membres de jouer, de partager et voir des représentations de contenus pour adultes, y compris des images sexuellement explicites. Le site est pour votre usage personnel et ne doit pas être utilisé pour toute entreprise commerciale. Toute utilisation illégale et / ou non autorisée du Site est interdite, y compris mais sans s'y limiter à la collecte de noms d'utilisateurs et d’adresses e-mail pour l'envoi de courriels non sollicités.
                    Vous pouvez accéder à des parties du site sans vous inscrire. Toutefois, afin d'accéder à certaines parties et caractéristiques du site Web et d'utiliser, d'acheter ou télécharger les mangas, vous devrez vous inscrire sur le site Web. Vous êtes responsable de la confidentialité de votre mot de passe et d'autres informations utilisées pour vous inscrire et vous connecter au site Web, et vous êtes entièrement responsable de toutes les activités qui se produisent sous ce mot de passe et nom d'utilisateur. Votre nom d'utilisateur sera rendu public et utilisé dans les mangas pour vous associer publiquement à votre compte.
                </p>
                <h2>3. CONDUITE DE L'UTILISATEUR</h2>
                <h3>3.1 Vous reconnaissez et acceptez que vous ne devez pas :</h3>
                <ul>
                    <li>Poster, télécharger, publier, transmettre ou mettre à la disposition de quelque manière que ce soit sur le site Web du contenu qui est illégal, nuisible, menaçant, tortueux, injurieux, diffamatoire, obscène, portant atteinte à des droits de propriété intellectuelle d'une personne, invasif de la vie privée de la personne (y compris, mais sans s'y limiter à des renseignements personnels), haineux, raciste ou offensant ;</li>
                    <li>Poster, télécharger, publier, transmettre ou mettre à la disposition de quelque manière que ce soit ou via le site Web des virus ou tout autre code informatique, fichiers ou programmes conçus pour détruire, interrompre, limiter la fonctionnalité, sur un moniteur ou sur tout logiciel ou matériel informatique ou équipement de télécommunication ;</li>
                    <li>Utiliser notre site Web en violation de toute loi ou réglementation applicable ;</li>
                    <li>Poster, télécharger, publier, transmettre ou mettre à la disposition de quelque manière que ce soit sur le site Web du contenu qui viole intentionnellement ou non, toute loi locale, provinciale, nationale ou internationale, ou des règlements ou des lois ayant force de loi où vous résidez et ailleurs, y compris mais sans s'y limiter, les lois ou règlements ayant trait aux valeurs mobilières, la confidentialité et le contrôle des exportations ;</li>
                    <li>Poster, télécharger, publier, transmettre ou mettre à la disposition de quelque manière que ce soit sur le site web du contenu dépeignant des activités illégales, promouvant ou dépeignant des dommages physiques ou des blessures contre un groupe ou un individu, ou promouvant ou dépeignant un acte de cruauté envers les animaux ;</li>
                    <li>Dépasser votre accès autorisé à une partie du site Web;</li>
                    <li>Modifier sans autorisation une partie du site Web ;</li>
                    <li>Obtenir ou tenter d'accéder ou d'obtenir tout contenu ou information par des moyens non intentionnellement mis à votre disposition ou offerts par le site Web ;</li>
                    <li>Exploiter les erreurs ou failles dans la conception, les caractéristiques qui ne sont pas documentées et / ou des bugs pour avoir accès à ce qui ne serait pas disponible autrement;</li>
                    <li>Utiliser un robot, spider, scraper ou autre moyen automatisé pour accéder au site Web à n’importe quelles fins;</li>
                    <li>Prendre toute mesure qui impose ou pourrait imposer une charge de données déraisonnable ou disproportionnée sur notre infrastructure ;</li>
                    <li>Interférer ou tenter d'interférer avec le bon fonctionnement du site Web ou des activités menées sur le site, ou contourner les mesures que nous pouvons mettre en place pour prévenir ou limiter l'accès au site Web;</li>
                    <li>Utiliser notre site Web pour nuire à quelqu'un, offenser ou harceler une personne;</li>
                    <li>Créer plus d'un compte pour accéder à notre site Web;</li>
                    <li>Utiliser l'adresse e-mail d’une autre personne entité afin de vous inscrire pour utiliser notre site Web;</li>
                    <li>Utiliser le site Web d'une façon qui nous expose à une responsabilité pénale ou civile ou utiliser notre site Web à des fins frauduleuses ou abusives (y compris, sans s'y limiter, en utilisant notre site Web pour usurper l'identité d'une personne ou entité, ou représenter faussement votre affiliation avec une personne, entité ou notre site Web);</li>
                    <li>Déguiser, anonymiser ou masquer votre adresse IP ou la source de tout contenu que vous pouvez télécharger;</li>
                    <li>Utiliser notre site Web à des fins commerciales ou au profit d'un tiers ou d'envoyer des communications non sollicitées;</li>
                    <li>Supprimer ou modifier tout avis de propriété ou autres renseignements sur la propriété de nos mangas ou toute autre partie de notre site Web;</li>
                    <li>Interférer ou perturber notre site Web ou les serveurs ou réseaux qui fournissent nos services;</li>
                    <li>Tenter de décompiler, effectuer l’ingénierie à inverse, démonter ou pirater un de nos mangas, des services, des mangas pour contrer l'une de nos technologies de cryptage ou des mesures de sécurité ou des données transmises, traitées ou stockées par nous, ou pour quelque raison que ce soit, non autorisée par cet accord ou par la loi;</li>
                    <li>Vendre, transférer ou essayer de vendre ou de transférer un compte avec nous ou une partie d'un compte, y compris la monnaie virtuelle ou des biens virtuels;</li>
                    <li>Perturber le flux normal d'un jeu ou agir d'une manière qui est susceptible d'affecter négativement la capacité des autres joueurs à jouer de façon équitable ou de se livrer à des échanges en temps réel;</li>
                    <li>Désobéir aux exigences ou règlements de tout réseau ou outil connecté à notre site Web ;</li>
                    <li>Utiliser notre site Web pour tricher ou concevoir ou aider la triche (par exemple, en utilisant des moyens automatisés ou des logiciels tiers), ou pour contourner les mesures techniques destinées à contrôler l'accès aux éléments de notre site Web, ou pour quoi que ce soit qu'une personne raisonnable est susceptible de croire et qui n’est pas dans l'esprit fair-play ou ne respecte pas les présentes conditions d’utilisation ;</li>
                    <li>Utiliser notre site Web de toute autre manière non autorisée par les présentes Conditions d'utilisation.</li>
                </ul>
                <p>Si vous craignez que quelqu'un d'autre ne se conforme pas à une partie de ces conditions d'utilisation, s'il vous plaît nous contacter ici : contact@drmanga.com</p>
                <p>Vous acceptez que nous ayons le droit de déterminer à notre seule discrétion et sans entraves, quelles mesures doivent être prises en cas de découverte ou signalement de violation des présentes Conditions d'utilisation, y compris la résiliation du compte et révoquer vos droits et accès sans aucun remboursement.</p>
                <h2>4. PROPRIÉTÉ INTELLECTUELLE</h2>
                <p>
                    Le contenu sur ce site (à l'exception des contributions d'utilisateur), y compris mais sans s'y limiter les textes, logiciels, scripts, graphiques, musique, vidéos, photos, sons, fonctions interactives et des marques de commerce, marques de service et logos qui y sont contenues, appartiennent à et/ou sont sous licence du site Web DrManga.Com, sous réserve des droits d'auteur et autres droits de propriété intellectuelle en vertu des lois de la république Française, et d'autres lois et conventions internationales. Le contenu du site Web vous est fourni tel quel pour votre usage personnel et ne peut être utilisé, copié, reproduit, distribué, transmis, diffusé, affiché, vendu, sous licence ou exploité à d'autres fins sans l'accord préalable le consentement écrit des propriétaires respectifs. Nous nous réservons tous les droits sur le site Web et le contenu. Vous acceptez de ne pas vous livrer à l'utilisation, la copie ou la distribution de tout contenu autre qu’expressément autorisé par les propriétaires, y compris toute utilisation commerciale, la copie et / ou la distribution des contributions d'utilisateurs obtenus sur le site Web. Si vous téléchargez ou imprimez une copie du contenu pour un usage personnel, vous devez conserver tous les droits d'auteur et autres avis de propriété qui y sont contenues. Vous acceptez de ne pas désactiver, contourner, ou interférer avec les fonctions liées à la sécurité du site ou des caractéristiques qui empêchent ou limitent l'utilisation ou la reproduction de contenu du site Web.
                </p>
                <h2>5. LES CONTRIBUTIONS DE L'UTILISATEUR</h2>
                <p>
                    Le site permet la présentation de contributions et d’images et de l'hébergement, le partage et la publication des contributions d'utilisateurs sur les sites Web. Vous comprenez que si ces contributions d'utilisateurs sont publiées et / ou téléchargées, nous ne garantissons pas la confidentialité à l'égard des contributions présentées.
                    Le site permet / vous permet de créer un lien vers du contenu sur le site Web à des fins personnelles et non commerciales.
                    Si vous voulez qu’DrManga supprime une contribution d'utilisateur du site Web, merci de nous contactez : contact@drmanga.com. Vous devrez nous fournir des informations spécifiques décrivant l'emplacement des contributions que vous souhaitez faire supprimer et les raisons qui expliquent votre demande. Nous mènerons les efforts nécessaires pour cette suppression lors de la réception d'une demande suffisamment détaillée.
                    Vous serez seul responsable de toutes vos propres contributions et les conséquences de l'affichage, du téléchargement et de la publication. En outre, avec les contributions d’utilisateur, vous affirmez et garantissez que :
                </p>
                <ul>
                    <li>Vous êtes le propriétaire ou conserver les licences, droits, consentements et autorisations à utiliser et nous autoriser à utiliser toutes les marques, droits d'auteur, les secrets commerciaux, brevets ou autres droits de propriété de toutes les contributions d'utilisateur pour permettre l'inclusion et l'utilisation des contributions de la manière envisagée par le site et les présentes Conditions d’utilisation ;</li>
                    <li>Vous ne publierez pas, ou permettrez pas à quiconque d'afficher, tout contenu représentant toute personne de moins de 18 ans et disposez de la documentation écrite suffisante pour prouver que tous les sujets de vos contributions sont, en effet, âgés de plus de 18 ans.</li>
                    <li>Vous avez le consentement écrit, et / ou l'autorisation de chaque personne identifiable dans la contribution d'utiliser son nom ou son image dans les contenus d'utilisateur de la manière proposée par le site Web et le présent Accord. Pour plus de clarté, vous conservez tous vos droits de propriété de vos contributions d'utilisateur. En soumettant les contributions d'utilisateur sur le site Web, par la présente vous nous accordez une licence mondiale non exclusive, libre de redevances, cessible et transférable d'utiliser, de reproduire, distribuer, préparer des usages dérivés, afficher publiquement, mettre à la disposition, communiquer au public et exécuter publiquement les contributions d'utilisateur en relation avec le site. Vous accordez également à chaque utilisateur du site Web une licence non exclusive pour accéder à vos contributions d'utilisateur sur le site Web et d'utiliser, reproduire, distribuer, préparer des usages dérivés, afficher publiquement, mettre à la disposition, communiquer au public, et exécuter publiquement ces contributions d'utilisateur comme permis par la fonctionnalité du site Web et en vertu du présent Accord. Vous renoncez également à toute réclamation ou cause d'action contre nous pour violation des « droits moraux » que vous pouvez posséder dans certaines juridictions.</li>
                </ul>
                <p>En soumettant du contenu (vidéo ou autre communication), vous convenez que vous ne devez pas :</p>
                <ul>
                    <li>Proposer du contenu qui est protégé par copyright, protégé par le secret commercial ou autrement soumis à des droits de propriété d’un tiers, y compris la vie privée et les droits publicitaire, sauf si vous êtes le propriétaire de ces droits ou avez la permission de leur propriétaire légitime de publier le contenu et nous accorder tous les droits de licence accordés par la présente ;</li>
                    <li>Publier des mensonges ou de fausses déclarations qui pourraient nous nuire, au site Web ou à un tiers ;</li>
                    <li>Présenter du contenu obscène, illégal, diffamatoire, harcelant, haineux, raciste ou ethniquement offensant, ou encourageant une conduite qui serait considérée comme une infraction pénale, donnant lieu à une responsabilité civile, une violation d'une loi, ou autrement inapproprié ;</li>
                    <li>Publication publicitaire, ou propositions d’affaires ;</li>
                    <li>Usurper l'identité d'une autre personne.</li>
                </ul>
                <p>
                    Nous n’appuyons aucune contribution d'utilisateur ou toute opinion, recommandation ou avis qui y sont exprimées, et nous rejetons expressément toute responsabilité en ce qui concerne les contributions d'utilisateur. Nous n’autorisons pas les activités portant atteinte aux droits d'auteur ou de la violation des droits de propriété intellectuelle sur le site. Nous nous réservons le droit, à notre seule discrétion, de supprimer tout contenu et contribution s’il est correctement notifié que ces contributions de contenu ou l'utilisateur empiètent sur les droits de propriété intellectuelle de quiconque. Nous nous réservons le droit de supprimer du contenu et une contribution pour toute raison et sans préavis ni délai. Nous nous réservons le droit, à notre seule discrétion, de mettre fin à l'accès d'un utilisateur au site Web ou à la possibilité de publier des contributions, si nous identifions la personne comme étant un contrevenant. Bien que la pornographie et le contenu adulte soient acceptés, nous nous réservons le droit de décider à notre seule et entière discrétion, si le contenu ou la contribution est appropriée et conforme au présent Accord concernant les violations autres que la violation du droit d'auteur et les violations du droit de la propriété intellectuelle, comprenant sans s'y limiter, le matériel obscène ou diffamatoire, ou d’une longueur excessive. Nous pouvons supprimer ces contributions et / ou mettre fin à l'accès d'un utilisateur pour la mise en ligne d’un tel contenu violant le présent Accord, à tout moment, sans préavis et à notre seule discrétion.
                </p>
                <p>
                    Vous comprenez et reconnaissez que lorsque vous utilisez le site Web, vous êtes exposé à des contributions d'utilisateur venant d’une variété de sources, et que nous ne sommes pas responsables du contenu de ces dites contributions. Vous comprenez et reconnaissez que vous pouvez être exposé à des contributions qui sont inexactes, offensantes, indécentes, ou choquantes, et vous acceptez de renoncer, par la présente, tout droit ou recours légaux ou équitable que vous avez ou pouvez avoir contre nous par rapport à celles-ci, et acceptez d'indemniser et de nous tenir nos concédants de licence et nous non responsable de votre utilisation du site web, dans les mesures autorisées par la loi. Vous acceptez que nous nous laissions, à notre seule discrétion, le droit de refuser de publier, supprimer ou bloquer l'accès à toute contribution d'utilisateur qui est disponible via le site Web ou un autre réseau ou service à tout moment, pour une raison quelconque, ou sans raison, avec ou sans préavis.
                </p>
                <p>
                    Nous n’assumons aucune responsabilité pour la surveillance du site pour le contenu ou un comportement inapproprié. Si à tout moment nous choisissons, à notre seule discrétion, de surveiller le site Web, nous n’assumons aucune responsabilité concernant le contenu, aucune obligation de modifier ou de supprimer tout contenu inapproprié, et aucune responsabilité vis-à-vis la conduite de l'utilisateur qui soumet ce contenu. Nous pouvons examiner et supprimer toutes les contributions d'utilisateur qui, dans notre seul jugement, violent le présent Accord ou peuvent être offensantes ou illégales ou violent les droits, nuisent ou menacent la sécurité de tout utilisateur ou d'une personne associée au site Web. Vous êtes seul responsable des contributions d'utilisateur que vous mettez en ligne sur le site Web ou à un site Web tiers via un lecteur intégré fourni par le site Web ou tout autre contenu ou information que vous transmettez ou partagez avec d'autres utilisateurs ou des tiers non liés par le site Web.
                </p>
                <p>
                    Nous avons adopté une politique, conformément à la Digital Millennium Copyright Act ( « DMCA ») , afin de permettre, à notre seule discrétion, l'élimination rapide de contenu de contrefaçon et la suppression des comptes de contrefacteurs récidivistes. Si vos droits d'auteur sont violés par tout contenu accessible sur ou via le site Web, s'il vous plaît envoyer un avis de prétendue violation, comprenant toutes les informations nécessaires ci – dessous :
                    Par email: contact@drmanga.com
                </p>
                <p>Pour être efficace, la notification de violation doit inclure le contenu requis suivants :</p>

                <ul>
                    <li>Une signature physique ou électronique d'une personne autorisée à agir au nom du propriétaire d'un droit exclusif qui aurait été violé ;</li>
                    <li>Identification de l'œuvre protégée qui aurait été violée, ou si plusieurs œuvres protégées sont concernées par une seule notification, une liste représentative de ces œuvres ;</li>
                    <li>L'identification du contenu qui est désigné comme violant ou faisant l'objet d'une activité illicite qui doit être enlevé, ou dont l'accès doit être désactivé, et des informations raisonnablement suffisantes pour nous permettre de localiser le contenu (L’URL spécifiques est la meilleure façon de nous aider à localiser le contenu rapidement) ;</li>
                    <li>Des informations raisonnablement suffisantes pour nous permettre de contacter la partie plaignante, comme l'adresse, téléphone, fax, et / ou une adresse e-mail à laquelle la partie plaignante peut être contactée ;</li>
                    <li>Une déclaration selon laquelle la partie plaignante est persuadée de bonne foi de l'utilisation du contenu n'est pas autorisée par le titulaire du droit d'auteur, son agent ou la loi ;</li>
                    <li>Une déclaration selon laquelle les informations contenues dans la notification sont exactes et, sous peine de parjure, que la partie plaignante est autorisée à agir au nom du propriétaire d'un droit exclusif qui aurait été violé.</li>
                </ul>
                <p>S'il vous plaît notez que les renseignements fournis dans le présent avis juridique peuvent être transmis à la personne qui a soumis le contenu incriminé.</p>
                <h2>6. POLITIQUE DE RÉSILIATION DE COMPTE</h2>
                <p>Nous nous réservons le droit de résilier le compte d'un utilisateur pour une raison quelconque ou sans raison, y compris sans limitation, si nous déterminons, à notre seule discrétion, que l'utilisateur a violé le présent Accord, sans préavis. Nous nous réservons également le droit de rendre le site temporairement ou définitivement inaccessible pour toute raison à notre seule discrétion.</p>
                <h2>7. POLITIQUE</h2>
                <p>Le site respecte une politique de TOLÉRANCE ZÉRO relative à tout contenu illégal. La pornographie enfantine, la bestialité, le viol, la torture, la mort et / ou tout autre type de matériel obscène et / ou illégales ne seront pas tolérés sur le site Web. Nous ne tolérons pas la pornographie enfantine et coopérerons avec toutes les agences gouvernementales qui cherchent ceux qui produisent et diffusent de la pornographie juvénile.</p>
                <h2>8. FRAIS</h2>
                <p>
                    Vous reconnaissez que nous nous réservons le droit de facturer des services et de changer nos frais de temps en temps à notre seule discrétion. En outre, dans le cas où nous cesserions votre compte, vous ne pouvez prétendre au remboursement de tout crédit inutilisé, or, pièces de monnaie ou des mangas.
                    TOUTE PILULE, FRAIS ET AUTRES CHARGES SONT PAYABLES À L'AVANCE ET SONT NON REMBOURSABLES ET NON, EN TOUT OU EN PARTIE, POUR QUELQUE RAISON. L’PILULE N’A AUCUNE VALEUR MONÉTAIRE ET NE PEUT ETRE MONNAYABLE. VOUS ÊTES ENTIÈREMENT RESPONSABLE DE TOUS LES FRAIS DE VOTRE COMPTE, Y COMPRIS LES CHARGES NON AUTORISÉES.
                </p>
                <h2>9. NOS POLITIQUES DE VENTES</h2>
                <h3>A. MÉTHODES DE PAIEMENT</h3>
                <p>
                    Si vous avez choisi d'acheter des mangas ou de la monnaie virtuelle (Pilule) sur le site Web, vous acceptez par la présente que nous ayons le droit de facturer automatiquement votre carte de crédit ou de débitter votre compte pour les frais applicables. Tous les prix affichés en euros sur le site Web comprennent toutes les taxes de vente applicables.
                    Dans la mesure requise par les lois applicables, vous serez en mesure de vérifier et modifier vos informations de commande avant de confirmer votre commande. Après la présentation de votre commande, vous recevrez un reçu par e-mail fournissant tous les détails de votre achat. Vous acceptez de recevoir tous les notifications et documents sous forme électronique.
                    Tous les frais par carte de crédit ou prélèvement de votre compte peuvent être consultés dans la section Historique des paiements de la zone de gestion de votre compte.
                </p>
                <h3>B. PAIEMENTS MOBILES</h3>
                <ul>
                    <li>Se désabonner / supprimer ses infos : « Pour retirer, envoyez STOP au 64055 »</li>
                    <li>Des frais de réseau peuvent s’appliquer</li>
                    <li>S'il vous plaît assurez-vous d’avoir plus de 18 ans et la permission du payeur de la facture.</li>
                    <li>Les frais seront appliqués à votre facture téléphonique sans fil ou déduits du solde de votre forfait.</li>
                    <li>Pour toute demande de facturation : Contact: facturation@drmanga.com</li>
                </ul>
                <h3>C. RÉTRACTATION</h3>
                <p>
                    En ce qui concerne les contenus payants, achats direct ou intégrés dans les mangas, l'utilisateur est informé que, compte tenu de la nature des contenus et de l'objet du Service, et en application des dispositions des articles L. 120-20-2, L.121-21, L221-23 à 25 du code de la consommation, il ne bénéficie d'aucun droit de rétractation dès lors qu'il a payés l'accès aux contenus payants à l'aide d'Pilules. Plus globalement, afin de recevoir immédiatement les Pilules après son paiement, l'utilisateur renonce expressément à son droit de rétractation afin que la prestation débute avant la fin du délai légal de rétractation.
                </p>
                <h2>10. TRAITEMENT DES DONNÉES</h2>
                <p>
                    Vous reconnaissez et acceptez que le processus technique et la transmission du site Web, y compris vos contributions d'utilisateur, peuvent impliquer des transmissions de données sur divers réseaux, étrangers et nationaux ; et des changements pour se conformer et adapter aux exigences techniques des réseaux ou des dispositifs. Vous reconnaissez et acceptez que d'autres données recueillies et conservées par le site Web à l'égard de ses utilisateurs peuvent être divulgués conformément à la politique de confidentialité du site.
                </p>
                <h2>11. AVIS DE NON RESPONSABILITE</h2>
                <p>
                    VOUS UTILISEZ LE SITE À VOS PROPRES RISQUES. NOUS PROPOSONS LE SITE WEB « TEL QUEL » ET « EN L’ETAT ». DANS TOUTE LA MESURE AUTORISEE PAR LA LOI, LE SITE, SON OPÉRATEUR ET LEURS DIRIGEANTS, ADMINISTRATEURS, EMPLOYES ET AGENTS REJETTENT TOUTE RESPONSABILITE DE QUELQUE NATURE QUE CE SOIT CONCERNANT LE SITE WEB ET PRODUITS OU SERVICE ACHETÉ ET OBTENU SUR LE SITE WEB, QUE CE SOIT, EXPLICITE OU IMPLICITE, Y COMPRIS, MAIS SANS S'Y LIMITER, LES GARANTIES DE QUALITÉ MARCHANDE, D'ADEQUATION A UN USAGE PARTICULIER ET D'ABSENCE DE CONTREFAÇON. VOUS SEUL ETES RESPONSABLE DE TOUT DOMMAGE À VOTRE SYSTÈME INFORMATIQUE OU PERTE DE DONNÉES RÉSULTATS DE L'UTILISATION DU SITE WEB.
                </p>
                <p>
                    NOUS NE DONNONS AUCUNE GARANTIE OU DÉCLARATION QUANT À L'EXACTITUDE DE CE SITE WEB DU CONTENU OU DU CONTENU DE TOUT SITE LIÉ À CE SITE OU QUE LE SITE RÉPOND À VOS BESOINS ET N’ASSUMONS AUCUNE RESPONSABILITÉ DE TOUTES (I) ERREURS OU INEXACTITUDES DU CONTENU, (II) DOMMAGES BLESSURES OU à lA PROPRIÉTÉ dE QUELQUE NATURE QUE CE SOIT, RÉSULTANT dE L'ACCÈS ET L'UTILISATION dU SITE WEB OU NOTRE SERVICE, (III) TOUT ACCÈS NON AUTORISÉ OU L'UTILISATION dE NOS SERVEURS SÉCURISÉS ET / OU TOUTE RENSEIGNEMENTS PERSONNELS ET / OU dE L'INFORMATION FINANCIÈRE STOCKÉS DANS CELUI-CI, (IV) TOUTE INTERRUPTION OU CESSATION dE TRANSMISSION OU dU SITE WEB OU NOTRE SERVICE, (IV) TOUT BOGUE, VIRUS, CHEVAUX dE TROIE OU COMME QUI PEUT ÊTRE TRANSMIS OU PAR lA SITE INTERNET OU NOTRE SERVICE PAR UN TIERS, ET / OU (V) TOUTE ERREUR OU OMISSION DANS TOUT CONTENU OU POUR TOUTE PERTE OU DOMMAGES DE QUELQUE NATURE QUE PAR SUITE DE L'UTILISATION DU CONTENU PUBLIÉ, TRANSMIS OU MIS A DISPONIBILITE VIA LE SITE OU NOTRE SERVICE. LE SITE WEB NE GARANTIT PAS, N’APPROUVE, OU N’ENGAGE TOUTE RESPONSABILITÉ POUR TOUS LES MANGAS, PRODUIT OU SERVICE ANNONCÉ OU OFFERT PAR UN TIERS SUR LE SITE WEB OU NOTRE SERVICE OU DE TOUT SERVICE HYPERLIEN OU EN VEDETTE DANS TOUTE BANNIÈRE OU AUTRE PUBLICITÉ, ET, LE SITE NE SERA PAS UNE PARTIE OU EN AUCUN CAS ÊTRE RESPONSABLE DE SURVEILLANCE DE TOUTE TRANSACTION ENTRE VOUS ET UN FOURNISSEURS TIERS DE PRODUITS OU DE SERVICE. COMME L'ACHAT D'UN PRODUIT OU SERVICE PAR QUELQUE MOYEN OU DANS TOUT ENVIRONNEMENT, VOUS DEVREZ JUGER ET ETRE PRUDENTS DE MANIERE APPROPRIÉE.
                    AUCUNE INFORMATION OBTENUE PAR VOUS OU PAR LE SITE WEB NE PEUT CONSTITUER UNE GARANTIE NON EXPRESSEMENT PREVUES DANS CES CONDITIONS.
                </p>
                <p>Ce qui précède est applicable dans toute la mesure permise par la loi dans la juridiction applicable. Vous reconnaissez expressément que nous ne serons pas responsables des contributions d'utilisateur diffamatoires, injurieuse, ou promouvant la conduite illégale d'un tiers et que le risque de préjudice ou de dommage de ce qui précède repose entièrement sur vous.</p>

                <h2>12. LIMITATION DE RESPONSABILITÉ</h2>

                <p>DANS LA MESURE AUTORISEE PAR LA LOI, NOUS NE SERONS PAS RESPONSABLE DE TOUT DOMMAGE OU PERTE DE QUELQUE SORTE DU A CE QUI SUIT:</p>
                <ul>
                    <li>RETARD, REJET OU TOUT RETRAIT DE CONTENU À TOUT MOMENT OU POUR TOUTE RAISON QUE CE SOIT AVEC OU SANS PRÉAVIS ;</li>
                    <li>MODIFICATION OU CESSION OU MISE EN PAUSE TEMPORAIRE DU SITE (OU D'UNE PARTIE DE CELUI-CI) AVEC OU SANS PRÉAVIS POUR UNE OU SANS RAISON ;</li>
                    <li>SUPRESSION IMMÉDIATE DE VOS ACCÈS AU SITE AVEC OU SANS RAISON ET AVEC OU SANS PRÉAVIS ;</li>
                    <li>L'EXACTITUDE, L’UTILITÉ OU LA DISPONIBILITÉ DE TOUTE INFORMATION OU DE PUBLICATION SUR LE SITE WEB ;</li>
                    <li>TOUT ACCÈS NON AUTORISÉ À NOS SERVEURS ET INFORMATIONS CLIENT PAR UN TIERS ;</li>
                    <li>TOUTE PERTE OU DOMMAGES DE QUELQUE NATURE QUE CE SOIT QUE VOUS AVEZ ENCOURUS EN RAISON DE VOS INTERACTIONS AVEC DES TIERS OU PAR LE SITE WEB.</li>
                </ul>
                <p>
                    EN AUCUN CAS NOUS NE SERONT RESPONSABLES DE TOUT DOMMAGE ACCESSOIRE, INDIRECTS, PUNITIFS, LÉGAUX, EXEMPLAIRES, ATTENTES, SPÉCIAUX OU INDIRECTS QUE CE SOIT (Y COMPRIS LA PERTE DE PROFIT, PERTE DE CLIENTELE, INTERRUPTION, DE LA PERTE D'INFORMATIONS COMMERCIALES OU TOUTE AUTRE PERTE FINANCIERE) EN ASSOCIATION AVEC TOUTE DEMANDE OU TOUTE PERTE, LES DOMMAGES, ACTION, OU AUTRE PROCÉDURE RELATIVE À OU RÉSULTANT DE CE CONTRAT, MÊME SI NOUS AVONS ÉTÉ AVERTI DE LA POSSIBILITÉ DE DOMMAGES, QUE L'ACTION EST FONDÉE SUR UN CONTRAT, VIOLATION DES DROITS DE PROPRIÉTÉ INTELLECTUELLE, UN DÉLIT, NÉGLIGENCE OU AUTRE. VOUS ACCEPTEZ DE NE PAS DEMARRER DE POURSUITE EN RAISON DE LA LIMITATION DE RESPONSABILITÉ CI-DESSUS.
                    CERTAINES JURIDICTIONS PEUVENT NE PAS AUTORISER CERTAINES LIMITES DE RESPONSABILITÉ. NOTRE RESPONSABILITÉ EST LIMITÉE DANS LA MESURE MAXIMALE AUTORISEE PAR LA LOI.
                </p>
                <h2>13. DROIT APPLICABLE</h2>
                <p>
                    Le présent Accord et la relation entre vous et nous sont régies par la loi Française, comme un accord entièrement réalisé, négocié et exécuté. La compétence unique et exclusive pour toute action ou procédure découlant du ou liée au présent Accord sont dans un tribunal compétent situé en France. Vous soumettez à la juridiction et le lieu de ces tribunaux.
                    Toute réclamation qui peut survenir dans le cadre de ces conditions sera indemnisable par des dommages monétaires et vous n’aurez en aucun cas droit à une injonction ou autre réparation équitable.
                </p>
                <h2>14. VOS COMMENTAIRES ET PRÉOCCUPATIONS</h2>
                <p>
                    Ce site est exploité DrManga, une société à responsabilité limitée qui sera organisée en vertu des lois françaises.
                    Tous les avis de réclamation pour violation de droits d'auteur doivent être envoyées à : contact@drmanga.com
                </p>
                <h2>15. RENONCIATION ET DIVISIBILITÉ</h2>
                <p>
                    Aucune renonciation de notre part de toute modalité ou condition énoncée dans le présent accord est considéré comme une renonciation ultérieure ou continue d'une telle condition ou une renonciation à toute autre modalité ou condition, et tout manquement de nous faire valoir un droit ou une disposition en vertu du présent accord ne constitue pas une renonciation à ce droit ou disposition. Toutes les dérogations aux termes des présentes doivent être faites par écrit et signé par la partie qui renonce.
                    Si une disposition du présent accord est jugé par un tribunal compétent invalide, le tribunal doit néanmoins s'efforcer de donner effet aux intentions des parties telles que reflétées dans la disposition, et les autres dispositions du présent accord demeurera en vigueur et effet.
                </p>
                <h2>16. INDEMNISATION</h2>
                <p>Vous acceptez de défendre, d'indemniser et de nous tenir à couvert contre toute réclamation, dommages, obligations, pertes, responsabilités, coûts ou dettes et dépenses (y compris, mais sans s'y limiter, les honoraires d'avocat) découlant de:</p>
                <ul>
                    <li>Votre utilisation et l'accès au site Web et aux Mangas;</li>
                    <li>Votre violation de tout terme du présent accord;</li>
                    <li>Votre violation des droits de tiers, y compris, sans s'y limiter, les droits d'auteur, de propriété ou de la vie privée;</li>
                    <li>Toute affirmation selon laquelle une de vos contributions d'utilisateur a causé des dommages à un tiers.</li>
                </ul>
                <p>Les modalités et conditions énoncées aux présentes et les droits et licences accordés en vertu des présentes, ne peuvent pas être transférés ou cédés par vous, mais ils peuvent être affectés par celle-ci sans restriction.</p>
                <h2>17. CESSION</h2>
                <p>Le présent Accord et tous les droits et licences accordés en vertu des présentes, ne peuvent pas être transférés ou cédés par vous, mais ils peuvent être affectés par nous sans restriction.</p>

                <h2>18. DIVERS</h2>
                <p>Aucun parti, ni aucun des avocats respectifs des parties, ne sont considérés comme rédacteur de cet accord aux fins de l'interprétation des présentes toute disposition dans toute procédure judiciaire ou autre qui peuvent surgir entre les parties.</p>
                <p>
                    Sauf disposition expresse contraire du présent accord, il n'y aura pas de tiers bénéficiaires. Afin d’être transparent, nos représentants, dirigeants, actionnaires, filiales, sociétés affiliées, parents, employés, agents et concédants de licence sont les bénéficiaires tiers.
                    Aucune agence, partenariat, coentreprise, relation employeur-employé ou franchisé est-franchiseur ou créée par l'intention du présent Accord.
                    Nous pouvons mettre fin à ces conditions d'utilisation pour toute raison à tout moment en vous informant par un avis sur le site Internet, par courrier électronique ou par tout autre moyen de communication. Toute résiliation sera sans préjudice de nos droits, recours, réclamations ou défenses en vertu des présentes. En cas de résiliation de l'accord, vous ne pourrez plus le droit d'accéder à votre compte et ne sera pas remboursé pour les mangas achetés, des crédits ou d'or.
                </p>
            </div>
        </div>
    </section>
{% endblock %}