{% extends 'base.html.twig' %}

{% block body %}
    <section id="mentions" class="section container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="h4 text-center">
                    Éditeur
                    <br />
                    <br />
                    DrManga.com est un site édité par BDG </br>
                    Centre Neptuna Rn8 Quartier Violesi </br>
                    13320 Bouc Bel Air </br>
                    FRANCE </br>
                    RCS 828 856 971 </br>
                    TVA FR 78828856971 </br></br>

                    Hébergeur </br>
                    CREATY </br>
                    Siret : 479 161 507 00021 </br>
                    Code APE 6201Z </br>
                    Siège social : 53 rue de la Maire – Z.I. des Paluds </br>
                    13400 Aubagne </br>
                    www.creaty.fr </br>
                </p>
                <br />
                <p>BDG applique strictement la loi 78-17 du 6 janvier 1978 relative à "l'informatique, aux fichiers et aux libertés" ainsi que les principes déontologiques qui en découlent quant aux informations personnelles que vous pouvez être amenés à nous communiquer dans le cadre d'une commande passée sur notre site Internet.</p>
                <ol>
                    <li>Transmission des données personnelles à des tiers</li>
                    <p>Les Données Personnelles recueillies lors de votre inscription sont utilisées aux fins de permettre à BDG de vous informer entre autre de la sortie de nouveaux jeux. Sauf autorisation expresse de votre part recueillie sur le Site, vos Données Personnelles ne sont pas transmises à des tiers par BDG.</p>
                    <li>Droit d'accès et de rectification des données transmises</li>
                    <p>Comme prévu par l'article 34 de la loi " Informatique et Libertés " du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pourrez l'exercer en nous contactant: BDG, Centre Neptuna Rn8 Quartier Violesi 13320 Bouc Bel Air, contact@drmanga.com.</p>
                    <li>Le numéro de votre déclaration à la CNIL</li>
                    <p>La collecte et le traitement automatisé d'informations personnelles et nominatives et les destinataires de ces informations ont été définis, déclarés et autorisés par la CNIL sous le numéro (en cours d’attribution)</p>
                    <li>Désinscription</li>
                    <p>Vous avez la possibilité de vous désabonner à tout moment soit en cliquant sur le lien présent dans tous les e-mails.</p>
                </ol>
                <p>Au-delà des obligations légales, BDG s'engage sur les règles déontologiques suivantes :</p>
                <ol>
                    <li>Les cookies</li>
                    <p>Des fichiers de cookies sont inscrits dans la mémoire de votre navigateur. Leur durée de vie est permanente. Ils contiennent un identifiant unique par navigateur. Ils constituent l'historique des visites sur notre site et sur chacune de ses pages. Vous avez toujours la possibilité de paramétrer votre navigateur afin de refuser ces cookies sans altérer pour autant votre navigation sur notre site.</p>
                    <li>Utilisation des e-mails</li>
                    <p>Dès lors que vous passez une commande sur notre site vous nous communiquez vos coordonnées e-mail qui sont utilisées pour le suivi de votre commande. Ces coordonnées sont également utilisées pour vous envoyer nos bulletins d'informations sur nos produits. Si vous ne souhaitez plus recevoir d'informations de la part de BDG, nous vous donnons toujours la possibilité par retour de mail ou en cliquant sur le lien présent dans les e-mails, de vous désabonner de cette liste de diffusion.</p>
                </ol>
                <h2>Politique de remboursement</h2>
                <p>
                    Lorsque vous n’êtes pas satisfait du service acheté, dans les premières 48 heures, vous pouvez demander un remboursement auprès de notre support aux clients en décrivant le problème en détail. Nous tenterons alors de vous aider et à faire en sorte que vous soyez entièrement satisfait. Dans le cas peu probable où ce n’est pas possible, un remboursement sera alors appliqué et votre compte sera fermé. Si les 48 heures sont alors dépassées et que vous avez déjà procédé à plusieurs téléchargements, nous considérerons que vous êtes entièrement satisfait.
                    Pour toute question relative à la politique de remboursement, n’hésitez pas à communiquer avec le support aux clients.
                </p>
            </div>
        </div>
    </section>
{% endblock %}