{% extends 'base.html.twig' %}

{% block body %}
    <section id="mentions" class="section">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{ asset('img/modules/mobile/bg.png') }}" class="img-fluid" alt="Background" />
            </div>
        </div>
    </section>
{% endblock %}