<div class="d-none align-items-center arrows-slider ml-auto">
    <div class="d-flex arrow left pointer text-center">
        <img src="{{ asset('img/svg/arrow-left.svg') }}" class="svg usmall align-self-center mx-auto" alt="Arrow left" />
    </div>
    <div class="d-flex arrow right pointer text-center">
        <img src="{{ asset('img/svg/arrow-right.svg') }}" class="svg usmall align-self-center mx-auto" alt="Arrow right" />
    </div>
</div>