<div class="book-rating">
    <div class="book-rating-content text-white">
        <div class="book-circle{{ loop.index0 == 0 ? ' book-first' }} w-100 h-100 d-flex justify-content-center align-items-center pointer-events-none">
            <span>{{ _data.rating.position }}</span>
        </div>
    </div>
</div>