<div class="modal fade top depth-1" id="browser-update" tabindex="-1" role="dialog" aria-labelledby="browser-update" aria-hidden="true">
    <div class="modal-dialog large modal-dialog-centered" role="document">
        <!--Content-->
        <div id="browser-update-content" class="modal-content w-100 mx-auto no-border">
            <div class="modal-body b-borders bg-grey-darker">
                <div class="modal-header out">
                    <img src="{{ asset('img/modules/browser-update/browser-outdated.png') }}" alt="Image" class="img-fluid" />
                </div>
                <div class="row text-center">
                    <div class="col-12 my-3">
                        <h1 class="h3 mx-auto my-0">Votre navigateur est obsolète !</h1>
                    </div>
                    <div class="e-s-4"></div>
                    <div class="col-12">
                        <p class="mx-auto my-0">
                            Afin de profiter de toutes les fonctionnalités que nous vous proposons sur DrManga et de ne rencontrer aucun problème de navigation,
                            de sécurité, et de rapidité lors de vos différentes sessions, nous vous conseillons de mettre à jour votre navigateur.
                            <br />
                            <br />
                            DrManga utilise en effet principalement des technologies modernes qui ne sont très souvent supportées que par les dernières versions de navigateur,
                            vous pourriez donc être gênés durant votre expérience de navigation.
                            <br />
                            <br />
                            Si vous ne savez pas comment mettre votre navigateur à jour, pas de panique ! Voici <a href="http://outdatedbrowser.com/fr" class="font-weight-bold" target="_blank">un lien</a>
                            qui vous permettra de réaliser l'opération en toute sécurité. Par ailleurs nous vous conseillons l'utilisation de Chrome et Firefox pour une expérience améliorée.
                            <br />
                            <br />
                            Nous vous souhaitons une agréable navigation sur DrManga !
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <button type="button" id="browser-update-button" class="btn theme-2 rounded mx-auto my-0" data-dismiss="modal">J'ai compris</button>
                </div>
            </div>
        </div>
    </div>
</div>