<div class="modal fade top" id="modal-disclaimer" tabindex="-1" role="dialog" aria-labelledby="modal-disclaimer" aria-hidden="true">
    <div class="modal-dialog large modal-dialog-centered" role="document">
        <!--Content-->
        <div id="modal-disclaimer-content" class="modal-content w-100 mx-auto no-border">
            <div class="modal-body b-borders bg-grey-darker">
                <div class="modal-header out">
                    <img src="{{ asset('img/modules/disclaimer/heading.jpg') }}" alt="Image" class="img-fluid object-fit-contain" />
                </div>
                <div class="row">
                    <div class="col-12 text-center my-0 mx-auto">
                        <h1 class="mt-5">BIENVENU(E) SUR DR MANGA</h1>
                        <h2 class="mt-1 mb-4 text-purple-light">Comment fonctionne Dr Manga ?</h2>
                        <p class="col-lg-10 h5 font-weight-bold text-grey-lighter my-0 mx-auto">
                            <span>Ne soyez plus jamais déçu par la lecture de vos mangas, grâce à DrManga profitez d'un tout nouveau format de lecture !</span>
                            <br />
                            <br />
                            <span>Plus besoin d'acheter votre manga au complet, vous ne débloquez que les pages que vous lisez et vous être libre d'arrêter votre lecture dès que vous le souhaitez !</span>
                            <br />
                            <br />
                            <span>Chaque manga est vendu à la page en échange d'une petite quantité de pilules, pensez donc à recharger votre compte avant la lecture !</span>
                        </p>
                        <h3 class="h4 text-grey-lighter">Bonne lecture sur DrManga !</h3>
                        <a href="https://google.com" class="link btn rounded high upper no-border contains-icon theme-3 mt-2 mt-lg-4 mb-3 mb-lg-4">
                            <span class="icon icon-reversed bg-grey-darker">
                                <img src="{{ asset('img/svg/right-chevron-white.svg') }}" class="svg small vertical-align-sub" alt="Direction gauche" />
                            </span>
                            <span>Quitter</span>
                        </a>
                        <button type="button" id="accept-disclaimer" class="btn rounded high upper no-border contains-icon theme-2 mt-2 mt-lg-4 mb-3 mb-lg-4" data-dismiss="modal">
                            <span>Je suis majeur</span>
                            <span class="icon bg-grey-darker">
                                <img src="{{ asset('img/svg/right-chevron-white.svg') }}" class="svg small vertical-align-sub" alt="Direction droite" />
                            </span>
                        </button>
                        <h2 class="mt-1 mb-3 text-purple-light">L'accès à ce site est interdit au mineurs.</h2>
                        <p class="col-lg-10 h6 font-weight-bold text-grey-light mb-5 my-0 mx-auto">
                            <span class="d-block">Ce site Web contient du contenu réservé aux adultes. Si vous avez moins de 18 ans vous n'avez pas l'autorisation ou la permission d'accéder à ce site ou d'accéder à l'un de ses contenus. Si vous avez plus de 18 ans en entrant sur le site Web, vous acceptez de respecter les Termes et Conditions et les Mentions Légales.</span>
                            <span class="d-block mt-3">En cliquant sur le bouton "je suis majeur", vous êtes d'accord avec tout ce qui précède et certifiez que vous êtes majeur. Vous certifiez visiter ce site de votre plein gré et renoncez à toute poursuite judiciaire contre ses auteurs, en entrant sur ce site, vous êtes d'accord avec tout ce qui précède et certifiez que vous êtes majeur.</span>
                        </p>
                    </div>
                </div>
                <div class="modal-footer out">
                    <div class="modal-footer-content bg-grey-dark">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="mt-1 mb-3 text-purple-light">
                                    <span class="mr-1"><img src="{{ asset('img/svg/information.svg') }}" alt="Informations" class="svg tall" /></span>
                                    <span>Le saviez-vous ?</span>
                                </h2>
                                <span class="h6 text-justify font-weight-bold text-grey-light">Votre avancée est sauvegardée et partagée entre tous vos appareils au fur et à mesure de votre lecture ! Lorsque vous reprenez un manga vous êtes automatiquement redirigé sur la dernière page débloquée !</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>