<div class="modal fade top" id="modal-ranking" tabindex="-1" role="dialog" aria-labelledby="modal-ranking" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!--Content-->
        <div id="modal-ranking-content" class="modal-content w-100 mx-auto">
            <div class="modal-header text-center justify-content-center align-self-center">
                <div class="modal-logo">
                    <img src="{{ asset('img/logo.png') }}" class="img-fluid" alt="Logo" />
                </div>
            </div>
            <div class="modal-body x-lines bg-grey-darker">
                <!-- TODO : Comments -->
            </div>
        </div>
    </div>
</div>