<form class="" action="{{ path('payment_service_paysafe_handle_callback', {'order': order.id}) }}" method="post">
    <input type="hidden" name="paymentService" value="paysafe">
    <input type="submit" name="" value="Acheter" class="paysafecard">
</form>
