<div class="d-flex flex-column col-12 col-lg-6 text-center text-lg-left">
    <p class="h4 mt-0 mb-0 font-weight-bold text-purple-light">{{ _data.title }}</p>
    <p class="h5 mt-1 mb-0 font-weight-bold text-grey-light">{{ _data.subtitle }}</p>
</div>