<div class="d-flex justify-content-center align-items-center ml-lg-3 mt-2 mt-lg-0">
    <button type="button" id="{{ _data.id }}-visibility" class="d-flex btn btn-sm btn-toggle no-pseudo-elements align-items-center {{ _data.visibility ? 'active' }}" data-toggle="button" aria-pressed="false" autocomplete="off">
        <div class="d-flex handle"></div>
    </button>
</div>